#divBusca{
  background-color: black ;
  border: solid 1px;
  border-radius: 20px;
  width: 267px;
}
#Busca{
  float: left;
  background-color: transparent;
  padding-left: 3px;
  font-style: italic;
  font-size: 18px;
  border: none;
  height: 32px;
  width: auto;
}
#miniatura{
  margin-left: 20px;
  width: 10px;
  border-radius:20px;
}
#miniaturaLinha2{
  margin-top: 135px;
  margin-left: 20px;
  width: 180px;
  border-radius:20px;
}
.descricao{
    height: auto;
    width: 50%;
    display: contents;
    top:20%;
  margin: 10%;
}
.TitDescr{
    text-align:center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(255, 255, 255);
}
.textDescr{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 255, 255);
    font-size: 30px;
}
.indicacao{
    display: flex;
    position: relative;
}
.minFilme{
  position: relative;
  display: flex;
}
label{
  margin: 20px;
  position: absolute;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
  color:rgb(255, 255, 255);
  top: 255px;
}
.data{
  color: rgb(163, 152, 152);
 top: 325px;
}
.Coluna1, .Coluna2, .Coluna3, .Coluna4, .Coluna5, .Coluna6{
  position: relative;
  left: 5%;
}
.EmAlta{
    display: flex;
    justify-content: center;
}
.Categoria{
  font-size: 34px;
  margin-left: 5%;
  color:rgb(225, 225, 236);
  padding: 0%;
}
.filme{
  top: 10%;
  left: 15%;
  position: relative;
  margin-top: 10%;
}
.InformacaoFilme{
  display: flex;
  margin: 5%;
}
.nomeFilme, .tipoFilme{
  margin-left: 5%;
}
.div1{
  margin-top: 400px;
  background-color: rgba(0,0,0,0.8);
    
}
body{
    background-color: rgb(255, 240, 240);
    list-style-type: none;
    background: url("FotoFundo.jpg") center center no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0%;
    margin: 0%;
}
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  a:hover {
    opacity: 0.7;
  }
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: rgb(150,10,10);
    height: 8vh;
    width: 1420px;
  }
  .nav-list {
    list-style: none;
    display: flex;
  }
  .nav-list li {
   letter-spacing: 3px;
    margin-left: 32px;
    color: rgb(0, 0, 0);
    position: 5s;
  }
  .nav-list li:hover{
    background-color: rgb(255, 115, 0);
    color: rgb(225, 225, 236);
  }
  @media (max-width: 999px) {
    .nav-list {
      position: absolute;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }